@font-face{
    font-family: "geomanist-bold";
    src: url(src/assets/packs/media/scss/fonts/geomanist-bold.woff);
}

@font-face{
    font-family: "geomanist-book";
    src: url(src/assets/packs/media/scss/fonts/geomanist-book.woff);
}

@font-face{
    font-family: "geomanist-medium";
    src: url(src/assets/packs/media/scss/fonts/geomanist-medium.woff);
}

@font-face{
    font-family: "geomanist-regular";
    src: url(src/assets/packs/media/scss/fonts/geomanist-regular.woff);
}