  
  body {
    margin:0;
    padding: 0;
    font-size: 16px;
    font-family: geomanist-regular,Helvetica,sans-serif;
}

:root {
    --reach-tooltip: 1;
}

:root { 
    --reach-dialog: 1;
}
  
.navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.educatorAuth__joinDiscussion {
  background: #fff;
  border: 2px solid #ddd;
  padding: .5em;
  width: 90%;
  max-width: 30rem;
  text-align: center;
  border-radius: 15px;
}
  .padre {
    /*
    justify-content: center;
    flex-direction: column; */
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: 100%;
  }

  .inner-block {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }

  .forgot-password {
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    color: #551717;
    margin: 0;
    background: rgb(247, 191, 191);
    border-width: 10px ;
    border: rgb(173, 63, 63);
    border-radius: 6px;
  }
  
  
  .forgot-password a {
    color: #2554FF;
  }
  
  .textnav{
    text-align: right;
    color: white;
  }

  .encabezado {
    font-family: "geomanist-bold";
    font-weight: 400;
    text-align: center;

  }
 
  .card1{
    text-align: center;
    border-radius: 10px;
    height: 40px;
    background: white;
    border-color: rgb(226, 219, 219);
    border-style: solid;

  }
  .card2{
    text-align: center;
    border-radius: 10px;
    background: white;
    border-color: rgb(226, 219, 219);
    border-style: solid;

  }

  .genericSsoButton.-google {
      background-color: #3f84f4;
  }

  .genericSsoButton.-microsoft {
    background-color: #ff3a00;
  }
  .genericSsoButton.-Go {

    color: #fff;
    box-sizing: border-box;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #811ad6;
    border-radius: 100px;
    height: 3rem;
    font-weight: 900;
  }
  .span{
    text-align: left;
   
  }
  .login__kids{
    height: 100px;
    width: 150px;
  }

  .signUpTab__buttonContainer .genericSsoButton {
      max-width: 20em;
      margin-bottom: 1rem;
      padding: 1.5em 1em 1.5em 3.5em;
  }

  .genericSsoButton {
      text-align: center;
      position: relative;
      width: 100%;
      border-radius: 5px;
      border: none;
      color: #fff;
      cursor: pointer;
      font-family: geomanist-medium,Helvetica,sans-serif;
  }

  body * {
      box-sizing: border-box;
  }
 
  button {
      -webkit-appearance: button;
      text-rendering: auto;
      color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      align-items: flex-start;
      margin: 0em;
      font: 400 13.3333px Arial;
  }
  .signUpTab {
      width: 90%;
      max-width: 30rem;
      background: #fff;
      border-radius: 20px;
      padding: 1.5em 1em;
      text-align: center;
      margin: 1em 0 5em;
      box-shadow: 0 0 15px rgba(0,0,0,.253);
      border: 2px solid #ddd;
      position: relative;
  }

h1, h2, h3, h4, h5, h6, p {
   
    color: #262626;
}

h1, h2, h3, h4, h5, h6 {
    font-family: geomanist-bold,Helvetica,sans-serif;
    font-weight: 400;
}

  .educatorAuth {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      overflow: hidden;
      min-height: 100vh;
      font-family: inherit;
      width: 100%;
      background: linear-gradient(45deg,#66cfff,#8303bc);
      flex-flow: column nowrap;
  }

  .signUpTab__studentWarning {
    width: 100%;
    padding: .5rem;
    font-size: .8125em;
    color: #945400;
    background-color: #fcd88c;
    border: 1px solid #f5ecc6;
    border-radius: 5px;
    text-align: center;
}
.signUpTab__studentWarning2 {
  width: 100%;
  padding: .5rem;
  font-size: .8125em;
  color: #261e70;
  background-color: #cbdafc;
  border: 1px solid #bdc9fd;
  border-radius: 5px;
  text-align: center;
}
.signUpTab__buttonContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.signUpTab .legaltext {
  margin-bottom: 0;
}

.legaltext {
  color: #555;
  margin: 1em auto;
  max-width: 21em;
}
p {
  line-height: 1.4;
}
.button:not(.-clear) {
  position: relative;
  width: auto;
  text-align: center;
  user-select: none;
  font-family: geomanist-bold,Helvetica,sans-serif;

}
a, button {
  cursor: pointer;
}

div {
  display: block;
}



.navbar .-link .-hideMedium {
    display: none;
}

.navbar .-link {

    padding: .5rem 1rem;
    font-size: .9rem;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}
.button.-link {

    min-width: 0;
    vertical-align: baseline;
    word-break: break-word;
    white-space: normal;
    background: transparent;
    line-height: inherit;
    border: unset;

}
.-linkA {
  display: inline;
    min-width: 0;
    padding: 0;
    text-decoration: underline;
    vertical-align: baseline;
    word-break: break-word;
    white-space: normal;
    background: transparent;
    color: #016fc8;
    font-size: inherit;
    line-height: inherit;
    border: unset;
    border-radius: 0;
}
.genericSso__icon {
  width: 4em;
}

.genericSso__icon {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  width: 3em;
  background: #fff;
  border-radius: 4px 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:not(svg) {
  transform-origin: 0px 0px;
}

.educatorAuth__joinDiscussion {
  background: #fff;
  border: 2px solid #ddd;
  padding: .5em;
  width: 90%;
  max-width: 30rem;
  text-align: center;
  border-radius: 15px;
}

.educatorAuth__joinDiscussion p {
  margin: 0;
}

p {
  line-height: 1.4;
  
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
 
 

/*-----------------------------------*/

.title-card{
    color: black;
    font-size: larger;
    text-align: left;
}

.content-card{
    color: black;
    font-size: medium;
    text-align: center;
}

.tarjeta{
  min-height: 18rem;
  min-width: 18rem;
  border-radius: 40px;
  overflow: hidden;
}

.card-deck {
  display: flex;
}


.marcoTitulo{
  background: linear-gradient(45deg,#3bbe5c,#1f1cc5b4);
  color: aliceblue;
  height: 50px;
  font-size: 30px;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
 
}